<div *ngIf="!photographer; else photographerProfile" class="loading" fxLayout="column" fxLayoutAlign="start start" fxLayoutAlign.gt-lg="center center">
  <mat-spinner></mat-spinner>
</div>

<ng-template #photographerProfile>

  <section class="profile-header" [ngStyle]="{'background': 'url('+photographer.profile_picture+')'}">
    <div class="overlay">

      <div class="container h-100" fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.gt-lg="end end">

        <div class="profile-title" fxLayout="column" fxLayout.gt-lg="row" fxLayoutAlign="center stretch" fxLayoutAlign.gt-lg="space-between center">

          <div class="name-wrapper">

            <div fxLayout="row" fxLayoutAlign="space-between start">

              <h1>{{ photographer.name }}</h1>

              <div class="actions" fxHide.gt-lg>
                <button mat-raised-button color="accent"
                        [matMenuTriggerFor]="shareMenu"
                        type="button" class="rounded-btn" title="Share">
                  <mat-icon>share</mat-icon>
                </button>
                <mat-menu #shareMenu="matMenu">
                  <button mat-menu-item>Facebook</button>
                  <button mat-menu-item>Twitter</button>
                  <button mat-menu-item>Flickr</button>
                  <button mat-menu-item>Copy link</button>
                </mat-menu>
              </div>

            </div>

            <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutAlign="start start" class="contact">

              <div>
                <mat-icon>location_on</mat-icon> Toronto, Canada
              </div>

              <a href="tel:{{photographer.phone}}" title="Phone call">
                <mat-icon>phone</mat-icon>
                {{ photographer.phone }}
              </a>

              <a href="mailto:{{photographer.email}}" title="Send email">
                <mat-icon>email</mat-icon>
                {{ photographer.email }}
              </a>

            </div>

          </div>

          <div class="actions" fxHide.lt-xl>
            <button mat-raised-button color="accent"
                    [matMenuTriggerFor]="shareMenu"
                    type="button" class="rounded-btn">
              <mat-icon>share</mat-icon> Share
            </button>
            <mat-menu #shareMenu="matMenu">
              <button mat-menu-item>Facebook</button>
              <button mat-menu-item>Twitter</button>
              <button mat-menu-item>Flickr</button>
              <button mat-menu-item>Copy link</button>
            </mat-menu>
          </div>

        </div>

      </div>

    </div>
  </section>

  <section class="profile-content">

    <div class="container" fxLayout="column" fxLayout.gt-lg="row" fxLayoutAlign="start center" fxLayoutAlign.gt-lg="space-between start" fxLayoutGap="16px">

      <mat-card class="profile-side mat-elevation-z8"
                [@animate]="{value:'*',params:{duration: '0.4s', delay: '0.2s', x: '-50px'}}"
                fxFlex="0 1 100%" fxFlex.gt-xs="0 1 30%">

        <div mat-card-image class="card-img" fxLayout="column" fxLayoutAlign="center center">

          <div class="profile-photo mat-elevation-z8">
            <img [src]="photographer.profile_picture" [alt]="photographer.name" class="w-100" />
          </div>

          <button mat-raised-button color="accent" type="button" class="follow-btn rounded-btn">Follow</button>

        </div>

        <mat-card-content>

          <div class="bio">
            <h2>BIO</h2>
            <div [innerHTML]="photographer.bio"></div>

          </div>

        </mat-card-content>

      </mat-card>

      <div class="gallery-wrapper">
        <mod-gallery-list
          [galleries]="photographer.album">
        </mod-gallery-list>
      </div>

    </div>

  </section>

</ng-template>

