.loading {
  height: 100vh;
  background-color: #ffffff;
}

.profile-header {
  width: 100%;
  height: 320px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(96,2,238);
    background: linear-gradient(90deg, rgba(96,2,238,1) 0%, rgba(96,2,238,1) 63%, rgba(96,2,238,0.8449754901960784) 100%);
    z-index: 1;
  }

  .profile-title {
    width: 100%;

    .name-wrapper {
      padding-left: 28%;

      h1 {
        color: #ffffff;
        font-size: 2rem;
        font-weight: bold;
      }
      .contact {
        color: #dbd9d9;
        margin-bottom: 16px;

        div, a {
          padding: 8px 16px 8px 0;
          display: flex;
          align-items: center;
          color: #ffffff;

          .mat-icon {
            margin-right: 4px;
          }
        }
        a {
          text-decoration: none;
        }
      }
    }

    .actions {
      button {
        padding: 4px 28px;

        .mat-icon {
          padding-right: 4px;
        }
      }
    }
  }
}

.profile-content {

  .profile-side {
    border-radius: 8px;
    margin-top: -150px;
    z-index: 2;

    .card-img {
      background: rgb(96,2,238);
      height: 400px;
      padding: 0;

      .profile-photo {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background-color: white;
        margin-bottom: 44px;

        img {
          border-radius: 100%;
        }
      }

      .follow-btn {
        padding: 8px 44px;
      }

    }
    .bio {
      padding: 32px 16px;
      color: #606060;
    }
  }

  .gallery-wrapper {
    padding: 32px 16px;
  }
}

@media screen and (max-width: 768px){

  .profile-header {
    height: 60vh;

    .overlay {
      background: linear-gradient(90deg, rgba(96,2,238,1) 0%, rgba(96,2,238,1) 23%, rgba(96,2,238,0.8449754901960784) 60%);
    }

    .profile-title {
      .name-wrapper {
        padding-left: 0;
      }
      .actions {
        button {
          padding: 2px;
        }
        .mat-icon {
          margin-right: 0;
        }
      }
    }
  }

  .profile-content {
    .gallery-wrapper {
      padding: 32px 0;
    }
  }
}
