<mat-card class="gallery-card">

  <div class="card-header">

    <img mat-card-image [src]="gallery.img" [alt]="gallery.title" class="w-100" />

    <button mat-raised-button mat-mini-fab mat-icon-button color="accent" type="button">
      <mat-icon *ngIf="gallery.featured">favorite</mat-icon>
      <mat-icon *ngIf="! gallery.featured">favorite_border</mat-icon>
    </button>

  </div>

  <mat-card-content>

    <div [innerHTML]="gallery.description" class="description"></div>

    <div class="card-footer">
      <span title="Publish date" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>alarm</mat-icon> {{ gallery.date }}
      </span>
    </div>

  </mat-card-content>
</mat-card>
