.gallery-card {
  margin-bottom: 16px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 8px;
  overflow: hidden;

  &:hover {
    -webkit-box-shadow: 0 16px 16px rgba(38, 38, 38, 0.2);
    box-shadow: 0 16px 16px rgba(38, 38, 38, 0.2);
  }

  .card-header {
    position: relative;

    button {
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 100%;
    }
  }
}
.description {
  padding-bottom: 16px;
}
.card-footer {
  padding: 16px 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  color: #606060;

  .mat-icon {
    margin-right: 4px;
  }
}
