/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 0 7%;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.rounded-btn {
  border-radius: 10em !important;
}
